<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <h1>Services</h1>
    <ul>
        {% for service in service %}
            <li>
                Category: {{ service.category.name }} <br>
                Level: {{ service.level }} <br>
                Duration: {{ service.duration }} minutes <br>
                Price: ${{ service.price }}
            </li>
        {% endfor %}
    <h1>Add Trainer Service</h1>
    <form action="/service/" method="post">
        <div>
            {% csrf_token %}
            Category:
            <select name="category">
                {% for category in service_categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            Duration: <input type="number" name="duration">
            Price: <input type="number" name="price">
            Level:
            <select name="level">
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        </div>
        <input type="submit" value="Add Service">
    </form>
    </ul>
</body>
</html>