<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service booking</title>
</head>
<body>
    <h1>Trainer Service Page</h1>

    <div>
        <p><strong>Category:</strong> {{ specific_service.category.name }}</p>
        <p><strong>Trainer:</strong> {{ specific_service.trainer.first_name }} {{ specific_service.trainer.last_name }}</p>
        <p><strong>Price:</strong> {{ specific_service.price }}</p>
        <p><strong>Duration:</strong> {{ specific_service.duration }}</p>
        <p><strong>Level:</strong> {{ specific_service.level }}</p>
    </div>

<form action="/trainers/{{ specific_service.trainer.id }}/{{ specific_service.id }}/" method="post">
    {% csrf_token %}
    <label for="booking-time">Select training time:</label>
    <select name="booking-time" id="booking-time">
        {% for date, slots in available_times.items %}
            <optgroup label="{{ date }}">
                {% for slot in slots %}
                    <option value="({{ slot.0 }}, {{ slot.1 }})">
                        {{ slot.0 }} - {{ slot.1 }}
                    </option>
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>

</body>
</html>