<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>    
    <h1>Trainer: {{ trainer.first_name }} {{ trainer.last_name }}</h1>
    <p>{{ trainer_description.description }}</p>
    
  <h2>Trainer Schedule</h2>
    <ul>
        {% if trainer_schedule %}
            {% for schedule in trainer_schedule %}
                <li>{{ schedule.datetime_start }} - {{ schedule.datetime_end }}</li>
            {% endfor %}
        {% else %}
            <li>No schedule available</li>
        {% endif %}
    </ul>
    
    <h1>My Services</h1>
    <table border="1">
        <tr>
            <th>Category</th>
            <th>Price</th>
            <th>Duration</th>
            <th>Level</th>
        </tr>
        {% for service in my_services %}
        <tr>
            <td>{{ service.category.name }}</td>
            <td>{{ service.price }}</td>
            <td>{{ service.duration }}</td>
            <td>{{ service.level }}</td>
        </tr>
        {% endfor %}
    </table>
    
<h2>Add Schedule</h2>
<form method="post">
    {% csrf_token %}
    {{ schedule_form.as_p }}
    <button type="submit" name="add_schedule">Add Schedule</button>
</form>

<h1>Add Trainer Service</h1>
<form method="post">
    {% csrf_token %}
    {{ service_form.as_p }}
    <button type="submit" name="add_service">Add Service</button>
</form>


</body>
</html>

